<?xml version="1.0"?>
<launch>
    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="arm_robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Fake Calibration -->
    <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

    <!-- joint_state_controller -->
    <rosparam file="$(find arm_control)/config/joint_state_controller.yaml" command="load" />
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen" />


    <!-- manually created controllers of robotic arm -->
    <rosparam file="$(find arm_control)/config/arm22_controller_vel.yaml" command="load" />
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn rover_arm_controller" respawn="false" output="screen" />


    <!-- controllers for end effector fingers -->
    <rosparam file="$(find arm_control)/config/arm22_controller_vel.yaml" command="load" />
    <node name="finger_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn rover_arm_right_finger rover_arm_left_finger" respawn="false" output="screen" />


    <!-- don't know if it's a necessary/ got from ur repo -->
    <!-- <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller"/> -->


</launch>