<launch>

<rosparam file="$(find panel_base_description)/launch/controller.yaml" command="load"/>
<node args="Slider26_position_controller Slider27_position_controller Rev33_position_controller joint_state_controller " name="controller_spawner" ns="panel_base" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/panel_base/joint_states"/>
</node>

</launch>